h1 {
    text-align: center;
}

p {
    color: red;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    text-align: start;
    text-decoration: underline;
    line-height: 2;
    letter-spacing: 10px;
    text-transform: lowercase;
    text-shadow: 1px;
}

span {
    text-decoration: line-through;
    color: brown;
}